$max-width: 1100px;
$primary-color: #174240;
$hover-color: #2f817d;

// Margin & Padding
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  // All around margin
  .m-#{$space} {
    margin: #{$space}rem;
  }

  // Vertical margin
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  // Bottom margin {
  .mb-#{$space} {
    margin-bottom: #{$space}rem;
  }

  // All around padding
  .p-#{$space} {
    padding: #{$space}rem;
  }

  // Vertical padding
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
