@import 'config';
@import 'utilities';

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    color: $hover-color;
  }
}

img {
  display: block;
  width: 128px;
  height: 128px;
  margin: auto;
}

.links-container {
  display: grid;

  ul {
    margin-left: 1rem;
  }
}

.text-center {
  text-align: center;
}
